// Sources:
// https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen
// https://stackoverflow.com/questions/23907694/how-do-i-stop-a-link-changing-color-on-hover
// https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css

html {
    height:100%;
}

body {
    height:100%;
}

header {
    nav {
        background-color: #64d195;

        .navbar-brand {
            padding-left:10px;
            font-size: x-large !important;
            color: black;
            text-decoration: none;
        }
        a.navbar-brand {
            .navbar-brand();
        }
        a.navbar-brand:hover {
            .navbar-brand();
        }

        form {
            .account {
                padding-right:10px;
                font-size: larger;
                color: black;
                text-decoration: none;
                margin-left: 10px;
            }
            a.account {
                .account();
            }
            a.account:hover {
                .account();
            }
        }
    }
}

div.subheader {
    margin:0px;
    width:100%;
    text-align:center;
    color:white;
    padding-top:5px;
    padding-bottom:5px;

    background-color:rgb(55, 55, 55);

    border-style:solid;
    border-top-color:black;
    border-top-width:2px;
    border-bottom-color:rgb(107, 107, 107);
    border-bottom-width:2px;
    border-left-width:0px;
    border-right-width:0px;
}

div.d-flex {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    max-width: 100%;

    .button_sidemenu-button {
        margin-top:-1px;
        background-color: #acacac;

        color:rgb(0, 0, 0);
        font-size: xx-large;
        padding:3px !important;
        
        border-style:solid;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: rgb(0, 0, 0);
    }
    button.sidemenu-button {
        .button_sidemenu-button();
    }
    button.sidemenu-button:checked {
        .button_sidemenu-button();
    }

    div.left-column {
        
    }   
        left-column-mobile {
            
        }
        left-column-desktop {
            
        }

    div.middle-column {
        border-left-style: solid;
        border-right-style: solid;

    }

    div.right-column {

        text-align: center;
        a {
            color:black !important;
            text-decoration-style: dashed;
        }

        p.host-title {
            
        }
        p.host-body {
            
        }
        p.member-title {
            
        }
        p.member-body {
            
        }
    }
}