// Sources:
// https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen
// https://stackoverflow.com/questions/23907694/how-do-i-stop-a-link-changing-color-on-hover

html, body {
    height:100%;
}

header {
    nav {
        background-color: #64d195;

        a {
            font-size: x-large !important;
            color: black;
            text-decoration: none;
        }
        a:hover {
            font-size: x-large;
            color: black;
            text-decoration: none;
        }

        form {
            a {
                font-size: larger;
                color: black;
                text-decoration: none;
                margin-left: 10px;
            }
            a:hover {
                font-size: larger;
                color: black;
                text-decoration: none;
                margin-left: 10px;
            }
        }
    }
}

div.subheader {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    background-color:rgb(162, 199, 216);

    border-style:solid;
    border-top-color:black;
    border-top-width:2px;
    border-bottom-color:rgb(107, 107, 107);
    border-bottom-width:2px;
    border-left-width:0px;
    border-right-width:0px;
}

div.d-flex {
    d-flex {
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        max-width: 100%;

        left-column {
            
        }   
            left-column-mobile {
                
            }
            left-column-desktop {
                
            }

        middle-column {

        }

        right-column {
            
        }
    }
}