// Sources:
// https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen
// https://stackoverflow.com/questions/23907694/how-do-i-stop-a-link-changing-color-on-hover
// https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css
// https://www.w3schools.com/cssref/css3_pr_mediaquery.php
// https://www.w3schools.com/css/css_positioning.asp

html {
    height:100%;
}

body {
    height:100%;
}

header {
    nav {
        background-color: #64d195;

        .navbar-brand {
            padding-left:10px;
            font-size: x-large !important;
            color: black;
            text-decoration: none;
        }
        a.navbar-brand {
            .navbar-brand();
        }
        a.navbar-brand:hover {
            .navbar-brand();
        }

        form {
            .account {
                padding-right:10px;
                font-size: larger;
                color: black;
                text-decoration: none;
                margin-left: 10px;
            }
            a.account {
                .account();
            }
            a.account:hover {
                .account();
            }
        }
    }
}

div.subheader {
    margin:0px;
    width:100%;
    text-align:center;
    color:white;
    padding-top:5px;
    padding-bottom:5px;

    background-color:rgb(55, 55, 55);

    border-style:solid;
    border-top-color:black;
    border-top-width:2px;
    border-bottom-color:rgb(107, 107, 107);
    border-bottom-width:2px;
    border-left-width:0px;
    border-right-width:0px;
}

div.subbody {
    height:100%;
    position:relative;

    .button_sidemenu-button {
        position:absolute;
        top:-1px;
        height:100%;
        background-color: #acacac;

        color:rgb(0, 0, 0);
        font-size: xx-large;
        padding:3px !important;
        
        border-style:solid;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: rgb(0, 0, 0);
    }
    button.sidemenu-button {
        .button_sidemenu-button();
    }
    button.sidemenu-button:checked {
        .button_sidemenu-button();
    }

    div.d-flex {
        margin:0;
        @media screen and (max-width: 1200px) {
            position: absolute;
            top:0px;
            left:27.75px;
            width: calc(100% - 27.75px);
        }
        padding:0;
        height:100%;

        @media screen and (max-width: 999px) {
            flex-wrap:wrap;
        }
        @media screen and (min-width: 1000px) {
            flex-wrap:nowrap;
        }

        div.left-column {
            border-right-style: solid;
            
        }   
            div.left-column-mobile {
                
            }
            div.left-column-desktop {
                min-width:300px;
            }

        div.middle-column {
        }

        div.right-column {
            @media screen and (max-width: 999px) {
                width:100%;
                border-top-style: solid;
            }
            @media screen and (min-width: 1000px) {
                width:300px;
                border-left-style: solid;
            }

            text-align: center;
            a {
                color:black !important;
                text-decoration-style: dashed;
                width:min-content;
                margin-left:auto;
                margin-right:auto;
            }

            p.host-title {
                font-size: larger;
                margin:0px;
            }
            p.host-body {
                
            }
            p.member-title {
                margin-top: 20px;
                margin:0px;
                font-size: larger;
            }
            p.member-body {
                
            }

            p.description-title {
                margin-top:auto;
                text-align: left;
                margin-bottom:0;
            }
            textarea.description-entry {
                min-height:32px;
                width:100%;
            }

            button.book-button {
                margin-top: 10px;
            }
        }
    }
}

.spacing {
    margin-bottom: 1rem;
}

.container {
    padding: 1rem 1rem;
    margin: 0rem 0rem;
}

.card {
    padding: 1rem 1rem;
}

.pagination {
    margin-bottom: 0px;
}